mat-chip.st-borrador { opacity: .8; }
mat-chip.st-radicada { font-weight: 600; }
mat-chip.st-revision { font-weight: 600; }
mat-chip.st-subsanar { font-weight: 600; }
mat-chip.st-avalada  { font-weight: 600; }
mat-chip.st-rechazada{ font-weight: 600; }
