<h2 mat-dialog-title>{{ data.action }}</h2>

<div mat-dialog-content>
  <p style="opacity:.75; margin-top: 0;">Radicado: <b>{{ data.radicado }}</b></p>

  <mat-form-field appearance="outline" style="width:100%;">
    <mat-label>Comentario (demo)</mat-label>
    <textarea matInput rows="3" [(ngModel)]="comentario"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="continuar()">Continuar</button>
</div>
